[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group devs43
	owner = group user/Dominic Tölle (dptolle)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Dominic Tölle (dptolle)
	label-Verified = -1..+1 group user/Dominic Tölle (dptolle)
	push = group devs43
	push = group user/Dominic Tölle (dptolle)
	read = group user/Dominic Tölle (dptolle)
	rebase = group user/Dominic Tölle (dptolle)
	removeReviewer = group user/Dominic Tölle (dptolle)
	submit = group user/Dominic Tölle (dptolle)
[access "refs/heads/*"]
	create = group devs43
	create = group user/Dominic Tölle (dptolle)
	push = group devs43
	push = +force group user/Dominic Tölle (dptolle)
	pushMerge = group devs43
	pushMerge = group user/Dominic Tölle (dptolle)
	read = group devs43
	read = group user/Dominic Tölle (dptolle)
[access "refs/tags/*"]
	push = group user/Dominic Tölle (dptolle)
	push = +force group user/Dominic Tölle (dptolle)
