html {
    box-sizing: border-box;
}

html,
body {
    font-family: "Roboto", sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
#application {
    width: 100%;
    height: 100%;
}

span.react-simple-image-viewer__close {
    top: 80px;
}

button em {
    padding-left: 0.2em;
    padding-right: 0.2em;
}
